<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>link1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76f,75}}</string>
                <key>sourceSize</key>
                <string>{76f,75}</string>
            </dict>
            <key>link2.png</key>
           <dict>
                <key>frame</key>
                <string>{{76,0},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80f,75}}</string>
                <key>sourceSize</key>
                <string>{80f,75}</string>
            </dict>
            <key>link3.png</key>
             <dict>
                <key>frame</key>
                <string>{{156.75f,0},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70f,75}}</string>
                <key>sourceSize</key>
                <string>{70f,75}</string>
            </dict>
            <key>link4.png</key>
             <dict>
                <key>frame</key>
                <string>{{226,0},{94,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94f,75}}</string>
                <key>sourceSize</key>
                <string>{94f,75}</string>
            </dict>
            <key>link5.png</key>
             <dict>
                <key>frame</key>
                <string>{{320,0},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80f,75}}</string>
                <key>sourceSize</key>
                <string>{80f,75}</string>
            </dict>
            <key>link6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84f,75}}</string>
                <key>sourceSize</key>
                <string>{84f,75}</string>
            </dict>
            <key>link7.png</key>
             <dict>
                <key>frame</key>
                <string>{{484.25f,0},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100f,75}}</string>
                <key>sourceSize</key>
                <string>{100f,75}</string>
            </dict>
            <key>link8.png</key>
             <dict>
                <key>frame</key>
                <string>{{584,0},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linkataca.png</string>
            <key>size</key>
            <string>{320,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e07504f614e935fcfc28006d277442e$</string>
            <key>textureFileName</key>
            <string>linkataca.png</string>
        </dict>
    </dict>
</plist>
