<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>link1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link2.png</key>
           <dict>
                <key>frame</key>
                <string>{{71.53f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link3.png</key>
             <dict>
                <key>frame</key>
                <string>{{143.06f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link4.png</key>
             <dict>
                <key>frame</key>
                <string>{{214.59f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link5.png</key>
             <dict>
                <key>frame</key>
                <string>{{286.12f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357.65f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link7.png</key>
             <dict>
                <key>frame</key>
                <string>{{429.18f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link8.png</key>
             <dict>
                <key>frame</key>
                <string>{{500.71f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link9.png</key>
             <dict>
                <key>frame</key>
                <string>{{572.24f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link10.png</key>
             <dict>
                <key>frame</key>
                <string>{{643.77f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link11.png</key>
             <dict>
                <key>frame</key>
                <string>{{715.3f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link12.png</key>
             <dict>
                <key>frame</key>
                <string>{{786.83f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
            <key>link13.png</key>
             <dict>
                <key>frame</key>
                <string>{{858.36f,0},{71.53f,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71.53f,55}}</string>
                <key>sourceSize</key>
                <string>{71.53f,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linkderecha.png</string>
            <key>size</key>
            <string>{320,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e07504f614e935fcfc28006d277442e$</string>
            <key>textureFileName</key>
            <string>linkderecha.png</string>
        </dict>
    </dict>
</plist>
