<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>morir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,0},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76f,55}}</string>
                <key>sourceSize</key>
                <string>{76f,55}</string>
            </dict>
            <key>morir2.png</key>
           <dict>
                <key>frame</key>
                <string>{{50,0},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80f,55}}</string>
                <key>sourceSize</key>
                <string>{80f,55}</string>
            </dict>
            <key>morir3.png</key>
             <dict>
                <key>frame</key>
                <string>{{85f,0},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70f,55}}</string>
                <key>sourceSize</key>
                <string>{70f,55}</string>
            </dict>
            <key>morir4.png</key>
             <dict>
                <key>frame</key>
                <string>{{125,0},{12,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94f,55}}</string>
                <key>sourceSize</key>
                <string>{94f,55}</string>
            </dict>
            <key>morir5.png</key>
             <dict>
                <key>frame</key>
                <string>{{170,0},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80f,55}}</string>
                <key>sourceSize</key>
                <string>{80f,55}</string>
            </dict>
            <key>morir6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84f,55}}</string>
                <key>sourceSize</key>
                <string>{84f,55}</string>
            </dict>
             <key>morir7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{5,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84f,55}}</string>
                <key>sourceSize</key>
                <string>{84f,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>morir.png</string>
            <key>size</key>
            <string>{320,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e07504f614e935fcfc28006d277442e$</string>
            <key>textureFileName</key>
            <string>morir.png</string>
        </dict>
    </dict>
</plist>
